@import url("https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap");

:root {
  --a: 0;
}
body {
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-weight: 400;
  font-style: normal;
}
.close {
  display: none;
}

.left {
  width: 25vw;
  padding: 10px;
}
.right {
  width: 75vw;
}

.home ul li {
  display: flex;
  gap: 15px; /*7*/
  width: 14px;
  list-style: none;
  display: flex;
  padding-top: 14px;
  font-weight: 500;
}

.home {
  padding: 10px;
  background-color: black;
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 10px 14px;
  font-weight: bold;
  align-items: center;
  font-size: 13px;
 
}
.heading img {
  width: 30px;
}
.library {
  min-height: 80vh;
  position: relative;
}
.footer {
    color: grey;
  display: flex;
  font-size: 10px;
  gap: 13px;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
}
.logo {
  width: 80px;
  cursor: pointer;
}

.footer a {
  color: grey;
}

.right {
  margin: 16px 0px;
  position: relative;
}
.header {
  height:70px;
  display: flex;
  padding-bottom: 6px;
  justify-content: space-between;
  background-color: rgb(31, 25, 27);
  border-radius: 100px;
}
.header > * {
  padding: 20px;
}


.music-playlists {
  padding: 16px;
}
.music-playlists h1 {
  padding: 16px;
}

.music-playlists .card {
  width: 170px;
  padding: 10px 10px;
  height: 250px;
  transition: all 0.9s;
  border-radius: 5px;
  background-color: #282323;;
  position: relative;
  text-align: center;
}

.card:hover {
    background-color: rgb(31, 25, 27);
  cursor: pointer;
  --a: 1;
}



.music-playlists .card img {
  width: 100%;
  object-fit: contain;
}

.music-playlists .cardContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
  overflow-y: auto;
  max-height: 60vh;
}
.songList ul li:hover{
background-color:  rgb(31, 25, 27);
}

.card .play {
  width: 28px;
  height: 28px;
  
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 100px;
  right: -60px;
  opacity: var(--a);
  transition: all 1s ease-out;
}

.buttons > * {
  margin: 0 12px;
}

.signupbtn {
  background-color: rgb(31, 25, 27);
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: transform 0.2s ease, color 0.2s ease;
  position: relative;
}

.signupbtn:hover {
  color: white;
  transform: scale(1.05);
}

.loginbtn {

        background-color: white;
  color: black;
  border-radius: 30px;
  outline: none;
  border: none;
  font-weight: 500;
  padding: 10px;
  width: 79px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease, font-weight 0.2s ease;
  position: relative;
}

.loginbtn:hover {
  font-weight: 700;
  transform: scale(1.05);
  transform-origin: center;
}
#previous, #play ,#next{
width: 30px;
}
.playbar {
  /* position: fixed;
    bottom: 30px;
    min-height: 40px;
    border-radius: 30px;
    background-color:rgb(31, 25, 27) ;
    min-width: 92vw;
    padding: 12px; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  background-color: rgb(31, 25, 27);
  border-radius: 10px;
  width: 90%;
  padding: 12px 0;
  padding-top: 3px;
  width: 70vw;
  min-height: 40px;
}
.songButtons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.songList {
  height: 544px;
  overflow: auto;
  margin-bottom: 44px;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.hamburgerContainer {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}
.songList ul {
  padding: 0 12px;
}

.songList ul li {
  list-style-type: decimal;
  display: flex;
  gap: 12px;
  cursor: pointer;
  padding: 12px 0px;
  border: 2px solid rgba(146, 143, 143, 0.491);
  margin: 12px 0px;
  padding: 13px;
  border-radius: 5px;
  justify-content: space-between;
  /* width:250px; */
}
.info div {
  word-break: break-all;
}
.playnow {
  display: flex;
  justify-content: cenetr;
  align-items: center;
}

.playnow span {
  font-size: 15px;
  width: 64px;
  padding: 12px;
}
.songList .info {
  font-size: 13px;
  width: 344px;
}

.songList {
  height: 544px;
  overflow: auto;
  margin-bottom: 44px;
}

.seekbar {
  height: 4px;
  cursor: pointer;
  width: 98%;
  border: 2px solid black;
  position: absolute;
  bottom: 8px;
  border-radius: 10px;
  padding: 1px;
  background-color: white;
  margin: 6px;
}

.circle {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  background-color: rgb(243, 243, 243);
  position: relative;
  bottom: 5px;
  left: 0%;
  transition: left 0.5s;
}

.songButtons img {
  cursor: pointer;

}
.timevol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.songinfo {
  color: black;
  padding: 0 12px;
  width: 250px;
}

.songtime {
  width: 125px;
  color: black;
  padding: 0 12px;
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.range input {
  cursor: pointer;

  
}

.abovebar {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  width: 100%;
}
.volume-slider {
    -webkit-appearance: none;
    background: #c592ae;
    height: 6px;
    border-radius: 3px;
  }
  
  .volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ff5722;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .volume-slider::-moz-range-thumb {
    background: #ff5722;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .volume-slider::-ms-thumb {
    background: #ff5722;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  
  
@media (max-width: 1200px) {
  .left {
    position: absolute;
    left: -130%;
    transition: all 0.3s;
    z-index: 1;
    width: 373px;
    /* background-color: black; */
    padding: 0;
    height: 100vh;
    position: fixed;
    top: 0;
  }

  .songinfo,.songtime {
    width: auto;
  }

  .left .close {
    position: absolute;
    right: 31px;
    top: 25px;
    width: 29px;
  }

  .timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 13px;
  }

  .right {
    width: 100vw;
  }

  .playbar {
    width: calc(100vw - 75px);
  }

  .seekbar {
    width: calc(100vw - 120px);
  }

  .hamburger {
    display: block;
  }

  .right {
    margin: 0;
  }

  .card {
    width: 55vw;
  }

  .cardContainer {
    margin: 0; 
    justify-content: center; 
  } 
 
  .close {
    display: block;
  }

  .abovebar {
    flex-direction: column;
    gap: 23px;
    align-items: center;
  }

  .cardContainer {
    max-height: unset;
    overflow-y: unset;
    margin-bottom: 35vh;
  }

  .playbar {
    right: 25px;
  }
}

@media (max-width: 500px) {
  .card {
    width: 100%;
  }

  .header > * {
    padding: 2px;
  }

  .buttons > * {
    margin: 0 6px;
  }

  .header {
    padding: 7px;
  }

  .musicPlaylists h1 {
    padding: 4px;
  }

  .library {
    height: 85vh;
  }

  .left {
    width: 100vw;
  }
}
