/* .border{
   
  border:5px solid black;
  border-radius: 5px;
   
} */
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter:invert(1);
   
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}

.flow-circular-regular {
    font-family: "Flow Circular", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .buttons{
    color: wheat;
  }

  html {
    overflow-y: scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.point{
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px; /* Width for the vertical scrollbar */
    height: 0px; /* Hide horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 6px;
    border: 3px solid #1a1a1a;
}


